body {
	text-align: center;
	background: #FFF6F2;
	margin: 0;
	transition: background-color .5s;
}

header {
	background-color: #F15B31;
	color: #FFFFFF;
	padding: 30px 20px;
	z-index: 1;
}

h1 {
	font-family: Raleway;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	text-transform: uppercase;
	margin: 0;
}

nav {
	background-color: #00A6B3;
	color: #FFFFFF;
	padding: 21px;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	z-index: 2;
	box-shadow: 0px 7px 10px grey;
	border-radius: 0px 0px 10px 10px;
}

a {
	margin: 0 20px;
	color: #FFFFFF;
	border-bottom: 2px solid transparent;
	text-decoration: none;
}


a:hover {
	border-color: white;
}

h3 {
	font-family: Raleway;
	color: #565656;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 40px;
}


p {
	font-family: "Droid Serif";
	line-height: 26px;
	font-size: 18px;
	color: #585858;
	width: 900px;
	margin: 0 auto;
	/*width: 700px;
	position: relative;
	left: 75px;*/
}

button {
	cursor: pointer;
	background-color: #B7F2DF;
	color: #BE42FF;
	font-weight: bold;
	font-size: 14px;
	font-family: 'Orbitron', sans-serif;
	border-radius: 6px;
	text-transform: uppercase;
	padding: 9px 6px;
}

button:focus, button:hover, button:active {
	background-color: #BE42FF;
	color: #B7F2DF;
}

main {
	margin: 20px 0;
}

section {
	margin: 20px 0;
}

div{
	display: inline-block;
	width: 35px;
	height: 50px;
	background-color: #FFF6F2;
	vertical-align: top;
}

/*
div:hover {
	background-color: red;
}
*/

footer {
	padding: 0 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
	text-transform: uppercase;
}

.sidenav {
	height: 200px;
	width: 0;
	position: fixed;
	z-index: 3;
	top: 149px;
	right: 0;
	background-color: #BE8EFF;
	color: white;
	font-family: "Droid Serif";
	font-weight: bold;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	box-shadow: -10px 15px 30px 0px #2D2D2D;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #00A6B3;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
	color: #8fff81;
	border-bottom: 2px solid transparent;
}

.sidenav .closebtn {
	position: absolute;
	top: -12px;
	left: -25px;
	font-size: 36px;
	margin-right: 50px;

}

.sidenav section {
	margin: 0px 2px 10px;
	font-family: "Raleway";
	font-weight: bold;
	margin-left: 15px;

}

.qrWallet {
	font-family: "Raleway";
	font-weight: normal;
	font-size: 11px;
	margin-left: 15px;

}

.sidenav img {
	height: 140px;
	width: 140px;
	overflow-x: hidden;

}

.sideBar {
	transform: rotate(270deg);
	position: fixed;
	right: -61px;
	top: 190px;
	padding: 4px 3px;
	background-color: #3E3E3E;
	opacity: .9;
	font-family: "Droid Serif";
	font-size: 17px;
	color: #BE8EFF;
	border-radius: 6px;
	border: 2px double rgba(0,0,0,.6);
	transition: margin-right .5s;
	z-index: 3;
	box-shadow: -7px -3px 5px;
}

.sideBar:hover {
	background-color: #BE8EFF;
	opacity: .9;
	border: 2px double #3E3E3E;
	color: #3E3E3E;
}

.closebtn {
	cursor: pointer;
}

.click {
	background-color: #E0DCDC;
	color: #E86554;
	font-weight: 500;
	font-size: 13px;
	font-family: 'Orbitron', sans-serif;
	border-radius: 3px;
	text-transform: uppercase;
	padding: 3px 2px;
	box-shadow: 0px 0px 2px 1px rgba(30,30,30,.9) inset;
}

.boardButton {
	background-color: #B7F2DF;
	color: #BE42FF;
	font-weight: 500;
	font-size: 12px;
	font-family: 'Orbitron', sans-serif;
	border-radius: 4px;
	box-shadow: 2px 3px 3px rgba(80,80,80,.7);
	text-transform: uppercase;
	padding: 4px 3px;
	opacity: .9
}

.fade {
	opacity: 0;
	transition: opacity 650ms linear;
}

.copyright {
	font-family: Raleway;
	float: left;
	color: white;
	width: 170px;
	margin: 20px auto;
	/*position: relative;*/
}

.message {
	font-family: Raleway;
	float: right;
	width: 235px;
	margin: 20px auto;
	/*position: relative;*/
	color: white;

}

.name {
	color: #F15B31;
	font-weight: 700;
}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}

#gameBoard {
	border: 3px solid rgba(125,44,168,.5);
	border-radius: 7px;
}

div[data-id="solid"] {
	opacity: 1;
}