body {
	text-align: center;
	background: #FFF6F2;
	margin: 0;
}

header {
	background-color: #F15B31;
	color: #FFFFFF;
	padding: 30px 20px;
}

h1 {
	font-family: Raleway;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	text-transform: uppercase;
	margin: 0;
}

nav {
	background-color: #black;
	color: #FFFFFF;
	padding: 20px;
}